.el-main {
  box-sizing: border-box;
  padding: 10px 12px;
  overflow-x: hidden;
  background: linear-gradient(160deg, var(--el-bg-color-page) 0%, var(--el-color-primary-light-8) 60%, var(--el-color-primary-light-9) 100%);
}
.el-footer {
  height: auto;
  padding: 0;
}
